@page
@model GuestBookRazor.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "/Pages/Shared/_Layout.cshtml";
}


@foreach (var item in Model.Message)
{

    <div class="message">
        <p class="user">@item.User.Name</p>
        <p class="date">@item.MessageDate</p>
        <p class="text">@item.Message_text</p>
    </div>

}